@using WebCraftStation.Models
@model HomeViewModel


<script id="buffsTemplate" type="text/x-jquery-tmpl">
    <div class="buff">
        <div class="buff-stacks">{%if Stacks > 0%} ${Stacks} {%/if%}</div>
        <div data-tooltip-id="status/${XivDbId}" class="buff-icon" name="${Name}">
            <img src="@Url.Content("~/Content/Images/")status_${XivDbId}.png" />
        </div>
        <div class="buff-steps">{%if Steps > 0%} ${Steps} {%/if%}</div>
    </div>
</script>

<script id="logTemplate" type="text/x-jquery-tmpl">
    <div class="log-entry" style="color: {%if Text.toLowerCase().indexOf('fail')>=0%} red {%else%} black{%/if%}">
        ${Text}
    </div>
</script>


<div class="row">
    <div class="col-md-12" style="margin-top: 15px;">
        <button class="btn btn-danger" id="resetButton" type="button" value="Reset">Reset</button>
        <button class="btn btn-default" id="settingsButton" type="button" value="Settings"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings</button>
    </div>
</div>
<hr style="margin-bottom: 0px;" />
<div class="row">
    <div class="col-md-12" id="settings" style="margin-top: 15px; display: none;">
        <div>
            SomeSettings
        </div>
        <div>
            <button class="btn btn-danger" id="settingsSaveButton" type="button" value="Reset">Save</button>
            <button class="btn btn-danger" id="settingsDiscardButton" type="button" value="Reset">Discard</button>
        </div>

        <hr />
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        @Html.Partial("Stats")
    </div>

    <div class="col-md-6">
        <div id="log" class="log">
            
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" id="message-container" style="display: none;">
        <span id="message" style="color: red;"></span>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <div id="buffs" style="height: 75px;">
        </div>
    </div>
</div>
<hr style="margin-top: 0px;" />

<div class="row">
    <div class="col-md-12">
        @foreach (var a in Model.Abilities)
            {
            <div class="ability-container">

                <button class="action" data-xivdb-key="xivdb_action_@a.XivDbId" data-xivdb-isset="1" style="border: 0; height: 40px; padding: 0; width: 40px;" name="@a.Name">
                    <img src="@Url.Content("~/Content/Images/")action_@(a.XivDbId).png" />
                    <div class="cost">@(a.CraftPointsCost > 0?a.CraftPointsCost.ToString():"")</div>
                    <div class="ability-overlay"></div>
                </button>


            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        var xivdb_tooltips =
        {
            // Where to get tooltips from.
            source: 'https://secure.xivdb.com',

            // Language the tooltips should be in
            language: 'en',

            // Should tooltips attempt to replace the link?
            // if set to false: seturlname, seturlcolor and seturlicon will be skipped
            replace: false,

            // Should tooltips replace the name of the link?
            seturlname: false,

            // Should tooltips apply a rarity color? (eg: Relics set to Purple)
            seturlcolor: false,

            // If your site is white/bright, set this true
            seturlcolorDarken: true,

            // Should tooltips include an icon?
            seturlicon: false,

            // Should tooltips replace hidden links?
            includeHiddenLinks: true,

            // How long to wait until attempting to include jquery
            // if jquery still doesn't exist after this time, it will
            // be auto included
            jqueryCheckDelay: 500,

            // Minimum site width (pixels) to assume we're on a mobile,
            // tooltips should not be used on mobile sites.
            mobileMinimumWidth: 500,

            // Prevent this script from setting your sites html height to 100%
            // this helps with knowing mouse position.
            preventHtmlHeight: false,

            // How far the tooltip should be from the mouse
            tooltipDistanceX: 30,
            tooltipDistanceY: 30,

            //
            // EVENTS
            //

            // this is called once tooltips load, provides tooltip data,
            // eg: event_tooltipsLoaded: function(tooltips) { ... }
            event_tooltipsLoaded: function () {
                $('#buffs').html($('#tempBuffContainer').html());
                window.locko = false;
            }
        };
        $(function () {
            var handler = function (e, data, a, b, s, d) {
                if (window.locko === true) {
                    return false;
                }
                window.locko = true;
                $('.ability-overlay').show();
                if (e) e.preventDefault();
                $.post('@Url.Action("Act", "Home")',
                    { Abilityname: d === true ? null : $(this)[0].name },
                    function (data) {
                        if (data) {
                            if (data.Stats) {
                                data.Stats.ProgressPercent = 1.0 * data.Stats.Progress / data.Stats.MaxProgress * 100;
                                data.Stats.QualityPercent = 1.0 * data.Stats.Quality / data.Stats.MaxQuality * 100;
                                $("#statsTemplate").tmpl(data.Stats).appendTo($("#statsContainer").empty());
                            }
                            if (data.Buffs) {
                                $('#buffsTemplate').tmpl(data.Buffs).appendTo($('#buffs').empty());
                                XIVDBTooltips.get();
                                if (data.Buffs.length === 0)
                                    $('#buffs').empty();
                            }
                            if (data.Message) {
                                $("#message").html(data.Message).parent().show();
                            } else {
                                $("#message").html(data.Message).parent().hide();
                            }
                            if (data.Logs && data.Logs.length > 0) {
                                for (var i = 0; i < data.Logs.length; i++) {
                                    console.log(data.Logs[i]);
                                }
                                $('#logTemplate').tmpl(data.Logs).appendTo($('#log'));
                                $("#log")[0].scrollTop = $("#log")[0].scrollHeight;
                            }
                            if (data.Abilities) {
                                for (var i = 0; i < data.Abilities.length; i++) {
                                    var info = data.Abilities[i];
                                    var b = $('.action[name="' + info.Name + '"]');
                                    var overlay = b.find('.ability-overlay');
                                    if (info.IsEnabled) overlay.hide();
                                    else overlay.show();
                                    b.removeClass("highlight-action");
                                    if (info.IsHighLigthed)
                                        b.addClass("highlight-action");

                                }
                            }
                        }

                        if (data.Buffs.length === 0) {
                            window.locko = false;
                            
                        }


                    });
                return false;
            };

            $(".action").on("click", handler);
            $("#resetButton").on("click",
                function() {
                    $("#log").empty();
                    $.get('@Url.Action("Index","Home")','',function()
                    {
                        handler(null, null, null, null, null, true);
                    });
                });
            $("#settingsButton").on("click",
                function() {
                    $("#settings").toggle(800);
                });

            $("#settingsDiscardButton").on("click",
               function() {
                   $("#settings").hide(800);
               });
            handler(null, null, null, null, null, true);
        });

    </script>
    <script src="https://secure.xivdb.com/tooltips.js"></script>
}
