<div ng-controller="HomeController as ctrl" ng-init="ctrl.init()" ng-cloak>
    <div class="row">
        <div class="col-md-8" style="margin-top: 15px;">
            <button class="btn btn-danger" id="resetButton" type="button" value="Reset" ng-click="ctrl.reset()">Reset</button>
            <button class="btn btn-default" id="searchButton" type="button" value="Search recipe" ng-click="ctrl.searchRecipe()">Search recipe</button>
            <select ng-model="ctrl.crafter" ng-change="ctrl.crafterChanged()" class="form-control" style="width: 150px; display: inline-block;">
                <option ng-repeat="(x,y) in ctrl.crafters()" value="{{x}}">{{y}}</option>
            </select>
        </div>
        <div class="col-md-4" style="margin-top: 15px;">
            <button class="btn btn-default" style="float: right;" id="settingsButton" type="button" value="Settings" ng-click="ctrl.settings()"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings</button>
        </div>
    </div>
    <hr style="margin-bottom: 0;" />
    <div class="row">
        <div class="col-md-12" id="settings" style="margin-top: 15px; display: none;">
            
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-12">
                    <div class="abilities-in-category" style="margin-bottom: 2px;">
                        <div class="category-head">
                            Cross-class abilites ({{ctrl.crossClassUsedCount()}} of 10)
                        </div>
                        <div class="ability-container" ng-repeat="ability in ctrl.model.Abilities | filter: ctrl.abilityCrossClassMatch | orderBy: ['Category', 'Order']">
                            <div class="action" data-xivdb-key="xivdb_action_{{ability.XivDbId}}" data-xivdb-isset="1">
                                <img ng-src="@Url.Content("~/Content/Images/")action_{{ability.XivDbId}}.png" ng-click="ctrl.onCrossClass(ability)"/>
                                <div class="cost">{{ctrl.formatCraftPoints(ability.CraftPoints)}}</div>
                                <div class="ability-overlay" ng-style="{'display':ctrl.isUsedInCrossClass(ability)?'block':'none'}" ng-click="ctrl.onCrossClass(ability)"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.Partial("Recipe")
                </div>
                <div class="col-md-6">
                    @Html.Partial("Craftman")
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="text-align: right">
                    <button class="btn" id="settingsSaveButton" type="button" value="Save" ng-click="ctrl.save()">Save</button>
                    <button class="btn btn-danger" id="settingsDiscardButton" type="button" value="Discard" ng-click="ctrl.discard()">Discard</button>
                </div>
            </div>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="search" style="margin-top: 15px; display: none;">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-6">Search</label>
                            <div class="col-md-6">
                                <input id="recipeSearchInput" type="text" class="form-control" ng-model="ctrl.recipeSearch.name" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="search-item" data-xivdb-key="xivdb_recipe_{{item.item}}" ng-repeat="item in ctrl.recipes | filter:ctrl.recipeSearchMatch | limitTo: 20" ng-click="ctrl.selectRecipe(item)" on-finish-render="ctrl.finish()">
                        {{item.name}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="text-align: right">
                    <button class="btn btn-danger" id="searchDiscardButton" type="button" value="Discard" ng-click="ctrl.discardSearch()">Discard</button>
                </div>
            </div>
            <hr />
        </div>
    </div>

    <div class="row" id="stats">
        <div class="col-md-6">
            @Html.Partial("Stats")
        </div>

        <div class="col-md-6">
            <div id="log" class="log" scroll-glue>
                <div ng-class="{'red':log.toLowerCase().indexOf('fail')>-1}" ng-repeat="log in ctrl.watcher.Logs.items track by $index">{{log}}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="buffs" style="height: 75px;">
                <div class="buff" ng-repeat="buff in ctrl.status.Buffs">
                    <div class="buff-stacks">{{ctrl.formatBuff(buff.Stacks)}}</div>
                    <div data-tooltip-id="status/{{buff.XivDb}}" class="buff-icon" name="{{buff.Name}}">
                        <img ng-src="@Url.Content("~/Content/Images/")status_{{buff.XivDb}}.png" />
                    </div>
                    <div class="buff-steps">{{ctrl.formatBuff(buff.Steps)}}</div>
                </div>

            </div>
        </div>
    </div>
    <hr style="margin-top: 0px;" />

    <div class="row">
        <div class="col-md-12">
            <div class="category-container" ng-repeat="category in ctrl.categories(ctrl.counter)" ng-show="(ctrl.model.Abilities | filter: ctrl.abilityMatch(category)).length">
                <div class="ability-category">
                    <span class="category-head">{{category}}</span>
                </div>
                <div class="abilities-in-category">
                    <div class="ability-container" ng-repeat="ability in ctrl.model.Abilities | filter: ctrl.abilityMatch(category) | orderBy: 'Order' ">
                        <div class="action" ng-class="{'highlight-action':ability.IsHighLight}" data-xivdb-key="xivdb_action_{{ability.XivDbId}}" data-xivdb-isset="1">
                            <img ng-src="@Url.Content("~/Content/Images/")action_{{ability.XivDbId}}.png" ng-click="ctrl.act(ability)" />
                            <div class="cost">{{ctrl.formatCraftPoints(ability.CraftPoints)}}</div>
                            <div class="ability-overlay" ng-style="{'display':!ability.IsEnabled?'block':'none'}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hint">
            <span>*hold Ctrl key for popup info</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ability-history">
            <div class="history-item" ng-repeat="item in ctrl.history">
                <img ng-src="@Url.Content("~/Content/Images/")action_{{item.XivDbId}}.png" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.rawgit.com/Luegg/angularjs-scroll-glue/master/src/scrollglue.js"></script>
    <script src="~/Scripts/app/controllers/home.js"></script>
    <script src="~/Scripts/CraftTable.Bridge.js"></script>

    <script>
        var xivdb_tooltips =
        {
            // Where to get tooltips from.
            source: 'https://secure.xivdb.com',

            // Language the tooltips should be in
            language: 'en',

            // Should tooltips attempt to replace the link?
            // if set to false: seturlname, seturlcolor and seturlicon will be skipped
            replace: false,

            // Should tooltips replace the name of the link?
            seturlname: false,

            // Should tooltips apply a rarity color? (eg: Relics set to Purple)
            seturlcolor: false,

            // If your site is white/bright, set this true
            seturlcolorDarken: true,

            // Should tooltips include an icon?
            seturlicon: true,

            // Should tooltips replace hidden links?
            includeHiddenLinks: true,

            // How long to wait until attempting to include jquery
            // if jquery still doesn't exist after this time, it will
            // be auto included
            jqueryCheckDelay: 500,

            // Minimum site width (pixels) to assume we're on a mobile,
            // tooltips should not be used on mobile sites.
            mobileMinimumWidth: 500,

            // Prevent this script from setting your sites html height to 100%
            // this helps with knowing mouse position.
            preventHtmlHeight: false,

            // How far the tooltip should be from the mouse
            tooltipDistanceX: 30,
            tooltipDistanceY: 30,

            //
            // EVENTS
            //

            // this is called once tooltips load, provides tooltip data,
            // eg: event_tooltipsLoaded: function(tooltips) { ... }
            event_tooltipsLoaded: function () {
            }

        };
    </script>

}
